h1{
    margin-top: 10px;
    text-align: center;
}
p{
    text-decoration: bold;
    text-align: center;
}
ul{
    width: 570px;
    padding: 15px;
    margin: 10px auto 25px auto;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000; 
    text-align: center;        
}
li {
    display: inline;
    margin: 0px 3px;
}  
.logo{
    margin-left: auto;
    margin-right: auto;
    display: block; 
}           
.center{
   text-align: center;
   left: 50%;

}